body {
    font-family: Arial, sans-serif;
    background: #efefef;
    margin: 0;
}
.main-box {
    width: 95%;
    margin: 20px auto;
    border: 1px solid #cfcfcf;
    background: #f8f8f8;
}
.navbar {
    background: #1f2933;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-left a {
    color: #d0d0d0;
    text-decoration: none;
    margin-right: 15px;
}

.nav-right input {
    padding: 7px;
    width: 220px;
    border-radius: 4px;
    border: none;
}

.nav-right button {
    padding: 7px 12px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
}

.content {
    padding: 25px;
    background: white;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #e9e9e9;
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.edit {
    background: #ffc107;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.modal {
    width: 600px;
    margin: 40px auto;
    border: 2px solid #0d6efd;
    background: white;
}

.modal-header {
    background: #0d6efd;
    color: white;
    padding: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 15px;
}
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-row div {
    flex: 1;
}

input, select {
    width: 100%;
    padding: 8px;
}

.sex-row {
    margin: 10px 0;
}

.modal-buttons {
    text-align: right;
}

.save {
    background: #198754;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
}
.cancel {
    background: gray;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
}
